@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.catalog {
    gap: 20px;
    display: flex;
    flex-direction: column;

    color: #2C2D35;
    flex-direction: column;

    color: #2C2D35;
    font-family: 'Raleway';
}

/* Catalog Head */

.catalog-header {
    display: flex;
    justify-content: space-around;
}

.catalog-head {
    font-size: 30px;
    font-weight: 500;
}

.select-country-buttons {
    gap: 32px;
    display: flex;
}

.cards-switch-buttons {
    background-color: #D4E8D9;
    border-radius: 20px;
    padding: 10px 20px;
}

.cards-switch-buttons:active {
    background-color: #376B44;
    color: #F4F6F5;
}

.cards-switch-buttons:hover {
    background-color: #598D66;
    color: #F4F6F5;
}

/* Catalog Body */

.catalog-body {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 0 340px;
}