@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    
    width: 100%;
    height: 80px;
    background-color: #E1EDE6;

    font-family: 'Raleway';
}

.logo {
    gap: 8px;
    display: flex;
    align-items: center;

    color: #598D66;
    font-weight: 700;
    font-size: 9px;
    text-decoration: none;
}

nav {
    gap: 60px;
    display: flex;
    align-items: center;

    font-weight: 500;
}

.nav-buttons {
    text-decoration: none;
}

.nav-buttons:active {
    color: #376B44;
}

.nav-buttons:hover {
    color: #598D66;
}

.basket {
    background: url(/src/assets/sections/header/basket.svg);
    width: 24px;
    height: 24px;
}

.basket:hover {
    background: url(/src/assets/sections/header/basket-hover.svg);
}

.basket:active {
    background: url(/src/assets/sections/header/basket-active.svg);
}

a {
    color: #2C2D35;
}